---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Skeleton from '../../components/Skeleton.astro';
import { Image } from 'astro:assets';
import { formatISO } from 'date-fns/formatISO';
import { format } from 'date-fns/format';
import { getCollection } from 'astro:content';

const posts = await getCollection('posts');
---

<Layout title="Basically Devlog" description='A devlog of basically mods. We show cool stuff of our development process.'>
	<Header sticky></Header>
	<main class="flex flex-col items-center">
		<div class="flex flex-col items-center my-10">
			<h1 class="my-1 text-3xl">Basically mods' devlog</h1>
			<span class="my-1 text-xl text-gray-500">Basically, a devlog</span>
		</div>
		<div class="max-w-[calc(100%-4rem)] w-[calc(520px+4rem)] flex flex-col gap-8">
			{
				posts.map(e => (<a href={`/devlog/${e.id}`} class="hover:scale-105 transition-transform"><article class="flex md:h-32 gap-4">
					<Skeleton class='aspect-square rounded-md overflow-hidden h-32'>
						<Image src={e.data.bannerImage} alt={e.data.title + ' banner image'} class='aspect-square rounded-md overflow-hidden h-32 w-32 object-cover' layout="none"></Image>
					</Skeleton>
					<div class="flex-1">
						<h2 class="text-xl">{e.data.title}</h2>
						<div><span class="text-sm">{e.data.by}</span> - <time class="text-sm" datetime={formatISO(new Date(e.data.publishedDate))}>{format(new Date(e.data.publishedDate), 'MMMM dd, yyyy')}</time></div>
						<p>{e.data.description}</p>
					</div>
				</article></a>)
				)
			}
		</div>
	</main>
</Layout>

<style>
	h1{
		transform: scale(calc(var(--scroll, 0) * 200 + 1));
	}
</style>
