---

interface CarouselItem{
    url: string;
    name: string;
    pagination_url?: string;
}

interface Props {
    elements: CarouselItem[]
    imgClasses?: string
    slideClasses?: string;
    'class': string;
    id: string;
    wrapperClasses: string;
}

const {elements, imgClasses, 'class': _class, slideClasses, id, wrapperClasses} = Astro.props;

---


<div class={`swiper ${_class}`} data-swiper id={id}>
    <div class={`swiper-wrapper ${wrapperClasses}`}>
        {elements.map(e => (<div class={`swiper-slide ${slideClasses}`} carousel-slide data-pagination-img={e.pagination_url ?? e.url}><img class={imgClasses} src={e.url} alt={e.name} /></div>))}
    </div>
    <div class={`${slideClasses} swiper-slide w-full`}></div>
    <div class="swiper-pagination">
        {elements.map(e => (<span class="select-none"><img class="w-[60%] h-[60%] object-contain z-10 relative" src={e.pagination_url ?? e.url}/></span>))}
    </div>
</div>

<style>
    html,
    body {
        position: relative;
        height: 100%;
    }


    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-slide img {
        display: block;
        width: 50%;
        height: 50%;
        object-fit: contain;
        image-rendering: pixelated;
    }
    
</style>
<style is:global>
    .swiper-pagination{
        height: 12%;
    }
    .swiper-pagination-bullet {
        width: unset;
        height: 90%;
        border-radius: 0;
        aspect-ratio: 1;
        opacity: 1;
        background-color: transparent;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transform: none!important;
    }
    .swiper-pagination-bullet img{
        image-rendering: pixelated;
        
    }
    .swiper-pagination-bullet::before{
        position: absolute;
        content: '';
        
        width: 100%;
        height: 100%;
        
        image-rendering: pixelated;
        background-size: cover;
        background-image: url('/hotbar-not-active.png');
        margin: 0;
        z-index: 1;
    }
    .swiper-pagination{
        overflow: visible;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet img, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet img{
        margin: 0;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0;
    }
    .swiper-pagination-bullet{
        opacity: 0;
    }
    
    .swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-next-next,
    .swiper-pagination-bullet-active-prev, .swiper-pagination-bullet-active-prev-prev {
    }
    .swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-prev {
        opacity: .5;
    }
    .swiper-pagination-bullet-active-next-next, .swiper-pagination-bullet-active-prev-prev {
        opacity: .25;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
    }
    .swiper-pagination-bullet-active::after{
        position: absolute;
        content: '';
        
        width: 110%;
        height: 110%;
        image-rendering: pixelated;
        background-size: cover;
        background-image: url('/hotbar-active.png');
        z-index: 1;
        --drop-shadow-color: #000a;
        filter: drop-shadow(var(--drop-shadow-color) 2px 2px 3px);
    }
    .swiper-pagination-bullet-active-main{
        opacity: 1;
    }
</style>
<script>
    import Swiper from 'swiper'
    import { Pagination } from 'swiper/modules'
    import { setSwiper } from '../function/swiper';
    declare module global {
        interface Window {
            swiper?: Swiper;
        }
    }

    document.querySelectorAll('[data-swiper]').forEach(e => {
        if(!(e instanceof HTMLElement))  return;
        setSwiper(e, new Swiper(e, {
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: true,
                clickable: true,
                dynamicMainBullets: 5,
                renderBullet: function (index, className) {
                    console.log()
                    return `<span class="${className} select-none"><img class="w-[60%] h-[60%] object-contain z-10 relative" src="${this.el.querySelectorAll('.swiper-slide')[index].dataset.paginationImg}"/></span>`;
                },
            },
            modules: [
                Pagination
            ]
        }));
    })
</script>