---

interface CarouselItem{
    url: string;
    name: string;
    pagination_url?: string;
}

interface Props {
    elements: CarouselItem[]
    imgClasses?: string
    slideClasses?: string;
    'class': string;
    id: string;
    wrapperClasses: string;
}

const {elements, imgClasses, 'class': _class, slideClasses, id, wrapperClasses} = Astro.props;

---


<div class={`swiper ${_class}`} data-swiper id={id}>
    <div class={`swiper-wrapper ${wrapperClasses}`}>
        {elements.map(e => (<div class={`swiper-slide ${slideClasses}`} carousel-slide data-pagination-img={e.pagination_url ?? e.url}><img class={imgClasses} src={e.url} alt={e.name} /></div>))}
    </div>
    <div class={`${slideClasses} swiper-slide w-full`}></div>
    <div class="pagination-wrapper">
        <div class="swiper-pagination" carousel-pagination>
            {elements.map(e => (<span class="select-none"><img class="w-[60%] h-[60%] object-contain z-10 relative" src={e.pagination_url ?? e.url}/></span>))}
        </div>
        <div class="show-full-pagination-wrapper swiper-pagination swiper-pagination-bullets swiper-pagination-horizontal">
            <span class="select-none swiper-pagination-bullet show-full-pagination cursor-pointer text-xl" show-all-signs><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 320 512"><path fill="currentColor" d="M182.6 137.4c-12.5-12.5-32.8-12.5-45.3 0l-128 128c-9.2 9.2-11.9 22.9-6.9 34.9s16.6 19.8 29.6 19.8H288c12.9 0 24.6-7.8 29.6-19.8s2.2-25.7-6.9-34.9l-128-128z"/></svg></span>
        </div>
    </div>
</div>

<style>
    .pagination-wrapper.active{
        width: 100%;
    }
    .pagination-wrapper.active .swiper-pagination {
        transition: none;
        position: static;
        width: 100%!important;
        height: 45px;
        transform: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .show-full-pagination-wrapper{
        width: auto;
        display: flex;
        aspect-ratio: 1;
        margin-bottom: 10%;
        right: 0;
        left:unset;
        right: 50%;
        transform: translateX(50%);
    }
    .pagination-wrapper.active .show-full-pagination-wrapper{
        display: none;
    }
    .show-full-pagination{
        display: flex!important; 
        opacity: 1; 
    }
    .show-full-pagination::before, .show-full-pagination::after{
        display: none;
    }

    .pagination-wrapper.active{
        position: absolute;
        text-align: center;
        z-index: 10;
        top: 0;
        bottom: auto;
        height: 100%;
        background-color: #0002;
        backdrop-filter: blur(10px);
        padding: 1rem;
        overflow-y: auto;
    }
    .pagination-wrapper.active .swiper-pagination :global(.swiper-pagination-bullet) {
        left: 0!important;
        transition: none;
    }
    .pagination-wrapper.active .swiper-pagination :global(.swiper-pagination-bullet) {
        opacity: 1!important;
        transition: none;
    }

    html,
    body {
        position: relative;
        height: 100%;
    }


    .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .swiper-slide img {
        display: block;
        width: 50%;
        height: 50%;
        object-fit: contain;
        image-rendering: pixelated;
    }
    
</style>
<style is:global>
    .swiper-pagination{
        height: 12%;
    }
    .swiper-pagination-bullet {
        width: unset; 
        height: 90%;
        border-radius: 0;
        aspect-ratio: 1;
        opacity: 1;
        background-color: transparent;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        transform: none!important;
    }
    .swiper-pagination-bullet img{
        image-rendering: pixelated;
        
    }
    .swiper-pagination-bullet::before{
        position: absolute;
        content: '';
        
        width: 100%;
        height: 100%;
        
        image-rendering: pixelated;
        background-size: cover;
        background-image: url('/hotbar-not-active.png');
        margin: 0;
        z-index: 1;
    }
    .swiper-pagination{
        overflow: visible;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet img, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet img{
        margin: 0;
    }
    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0;
    }
    .swiper-pagination-bullet{
        opacity: 0;
    }
    
    .swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-next-next,
    .swiper-pagination-bullet-active-prev, .swiper-pagination-bullet-active-prev-prev {
    }
    .swiper-pagination-bullet-active-next, .swiper-pagination-bullet-active-prev {
        opacity: .5;
    }
    .swiper-pagination-bullet-active-next-next, .swiper-pagination-bullet-active-prev-prev {
        opacity: .25;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
    }
    .swiper-pagination-bullet::after{
        position: absolute;
        content: '';
        opacity: 0;
        
        width: 110%;
        height: 110%;
        image-rendering: pixelated;
        background-size: cover;
        background-image: url('/hotbar-active.png');
        z-index: 1;
        --drop-shadow-color: #000a;
        filter: drop-shadow(var(--drop-shadow-color) 2px 2px 3px);
    }
    .swiper-pagination-bullet-active::after{
        opacity: 1;
    }
    .swiper-pagination-bullet-active-main{
        opacity: 1;
    }
</style>
<script>
    import Swiper from 'swiper'
    import { Pagination } from 'swiper/modules'
    import { getSwiper, setSwiper } from '../function/swiper';
    declare module global {
        interface Window {
            swiper?: Swiper;
        }
    }

    document.querySelectorAll('[data-swiper]').forEach(e => {
        if(!(e instanceof HTMLElement))  return;
        (e.querySelector("[show-all-signs]") as HTMLElement).addEventListener('click', () => e.querySelector('.pagination-wrapper').classList.add('active'));
        (e.querySelector('[carousel-pagination]') as HTMLElement).addEventListener('click', () => e.querySelector('.pagination-wrapper').classList.remove('active'));
        const m = setSwiper(e, new Swiper(e, {
            pagination: {
                el: ".swiper-pagination",
                dynamicBullets: true,
                clickable: true,
                dynamicMainBullets: 5,
                renderBullet: function (index, className) {
                    console.log()
                    return `<span class="${className} select-none"><img class="w-[60%] h-[60%] object-contain z-10 relative" src="${this.el.querySelectorAll('.swiper-slide')[index].dataset.paginationImg}"/></span>`;
                },
            },
            modules: [
                Pagination
            ]
        }));
        const t = new ResizeObserver(() =>{
            m.pagination.update()
        });
        t.observe(e);
    })
</script>