---
import { BADGE_TYPES, type BadgeType } from "../consts/badges";
import { LINK_TYPES } from "../consts/links";
import type { Mod } from "../types/Mod";

interface Props {
    mod: Mod;
}

const { mod } = Astro.props;
const {links, modName, abstract, badges} = mod
---

<div class="flex-col flex-1 flex justify-center">
    <header class="flex flex-col flex-wrap items-start mb-2 gap-2">
        <h1 class="text-3xl">{modName}</h1>
        <div class="flex gap-2">
            {badges?.map(e => <span class={`${BADGE_TYPES[e].classes} text-xs`}>{BADGE_TYPES[e].text}</span>)}
        </div>
    </header>
    <p class="text-lg text-balance">{abstract}</p>
    <div class="mt-10 flex gap-3">
        {links?.map(link => <a href={link.url} target="_blank" class="text-4xl inline-block opacity-80 transform hover:opacity-100 hover:scale-125 motion-safe:transition motion-reduce:any-hover:scale-100]" style={{color: LINK_TYPES[link.type].color}}>
            <svg viewBox={LINK_TYPES[link.type].icon.viewbox} width="1em" height="1em">
                {LINK_TYPES[link.type].icon.paths.map(pathObj => <path fill="currentColor" clip-rule={pathObj.clipRule} fill-rule={pathObj.fillRule} d={pathObj.path}></path>)}
            </svg>
        </a>)}
    </div>
</div>